BasedOnStyle: LLVM
Language: Cpp
Standard: c++03
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
InsertBraces: false
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
SpaceBeforeParens: ControlStatements
IndentPPDirectives: None
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 2
